<div class="container top-margin ">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Ticket Lucky Numbers</th>
                <th>Game Type</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mar, 01, 2021 01:00</td>
                <td>
                    <ul class="balls">
                        <li>1</li>
                        <li>36</li>
                        <li>44</li>
                        <li>54</li>
                        <li>66</li>
                        <li class="active">10</li>
                    </ul>
                </td>
                <td> Power Ball Option 1</td>
                <td>Confirmed</td>
                <td>X</td>
            </tr>
            <tr>
                <td>Mar, 01, 2021 01:00</td>
                <td>
                    <ul class="balls">
                        <li>1</li>
                        <li>36</li>
                        <li>44</li>
                        <li>54</li>
                        <li>66</li>
                        <li class="active">10</li>
                    </ul>
                </td>
                <td> Power Ball Option 1</td>
                <td>Confirmed</td>
                <td>X</td>
            </tr>
            <tr>
                <td>Mar, 01, 2021 01:00</td>
                <td>
                    <ul class="balls">
                        <li>1</li>
                        <li>36</li>
                        <li>44</li>
                        <li>54</li>
                        <li>66</li>
                        <li class="active">10</li>
                    </ul>
                </td>
                <td> Power Ball Option 1</td>
                <td>Confirmed</td>
                <td>X</td>
            </tr>
            <tr>
                <td>Mar, 01, 2021 01:00</td>
                <td>
                    <ul class="balls">
                        <li>1</li>
                        <li>36</li>
                        <li>44</li>
                        <li>54</li>
                        <li>66</li>
                        <li class="active">10</li>
                    </ul>
                </td>
                <td> Power Ball Option 1</td>
                <td>Confirmed</td>
                <td>X</td>
            </tr>
        </tbody>
    </table>
</div>
  

  
<script>
    $(document).ready( function () {
        $('.table').DataTable({
            sortable: false
        });
    } );
</script>

  